/* Layout */

body{
    color: #252525;
    background-color: #252525;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    /* border: 1px solid red; */
    width: 450px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 20px;
}

/* Fonts */

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

h1, h2, .habit-text, .caption{
    font-weight: 700;
}

.habit-text{
    font-size: 20px;
    margin: auto;
}

.caption{
    font-size: 20px;
    color: whitesmoke;
}


/* Colors & Layout  */

.first-section{
    background-color: #AF3E4D;
    display: flex;
    position: relative; 
}

.second-section{
    background-color: #84ab4e;
}

.third-section{
    background-color: whitesmoke;
}

.select-title{
    margin-top: 0;
}

.habit-picker{
    background-color: rgb(162, 162, 162);
    border-radius: 20px;
    padding: 10px;
}

.habit-container{
    display: flex;
    margin-top: 15px;
}

.calendar-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.custom-habit{
    display: none;
}

.add-habit-container{
    display: none;
    background-color: #252525;
    color: whitesmoke;
    border: 5px solid #AF3E4D;
}

.add-habit-container input, .add-habit-container button{
    width: inherit;
    padding: 10px;
}

.modal-tip{
    /* display: none; */
    color: whitesmoke;
    background-color: #252525;
    box-shadow: whitesmoke;
    position: relative;
    margin: auto;
}

.inspiration{
    display: block;
    margin-top: 10px;
}



/* Icons */

.rabbit-icon{
    width: 80px;
    border-radius: 50%;
    border: 2px solid #252525;
    background-color: #84ab4e;
}

.logo{
    position: absolute;
    top: 30px;
    right: 20px;
}

.date{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    align-self: center;
} 

.calendar-icon{
    width: 70px;
    height: 70px;
    background-color: #84ab4e;
}


/* Buttons & Links */

button{
    background-color: #AF3E4D;
    border-radius: 10%;
    border: 2px solid black;
    cursor: pointer;
    padding: 8px 15px;
    margin: 5px;
    font-size: 20px;
}

button:hover{
    background-color: #a1626b;
}

.add-habit-btn{
    margin-top: 20px;
}

.picker{
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
    color: whitesmoke;
    border: none;
}

.custom-picker{
    color: black;

}

.picker:hover, .picker:focus{
    border: 1px solid #252525;
}




