/* Layout */

body{
    color: #161748;
    background-color: #161748;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width: 450px;
    margin: 10px auto;
    padding: 20px 0;
    border-radius: 20px;
}


/* Fonts */

h1{
    font-size: 40px;
    margin: 0;
}

h2{
    font-size: 30px;
    margin: 0;
}

h1, h2{
    font-weight: 700;
}

h3{
    font-size: 20px;
    font-weight: 700;
    color: whitesmoke;
}

.fecha-hoy, .semana-hoy{
    font-size: 20px;
    color: whitesmoke;
}


/* Colors & Layout  */

.intro{
    background-color: #478559;
}

.positiva{
    background-color: whitesmoke;
}

.negativa{
    background-color: #39a0ca;
}

.titulo{
    text-align: center;
}

.fin{
    background-color: #39a0ca;
}

.father{
    width: 100%;
}
.progress-bar-container {
    background-color: #e0e0e0;
    border-radius: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .progress-bar {
    text-align: center;
    color: white;
    border-radius: 40px;
   } 

   .prueba{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
   }


/* Buttons & Links */

button{
    background-color: #f95d9b;
    color: whitesmoke;
    border-radius: 60px;
    width: 60%;
    border: 2px solid black;
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
}

button:hover{
    background-color: #fa8eb9;
}

li{
    list-style: none;
    margin-left: 0;
}

ul{
    padding-inline-start: 0;    
}




